.cont {
    display: flex;
}
.image {
    display: flex;
    padding-left: 50px;
}

.graph {
    position: relative;
}

.text {
    display: flex;
    line-height: normal;
}

.right {
    padding-left: 70px;
}

.bio{
    line-height: 1.5;
    padding-left: 30px;
}