body {
    background-color: rgb(212, 209, 209);
  }
  
  h1 {
    color: darkslategrey;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;

}

h2{
    padding-left:700px;
    padding-top: 30px;
}

.header{
    background-color: rgb(206, 203, 203);
    display: flex;
  }

.design {
    background-color:  rgb(206, 203, 203);
}
  