.body {
    background-color: rgb(216, 213, 213);
  }
  
  h1 {
    color: darkslategrey;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    padding-left: 20px;
}

.pos{
    padding-left:550px;
    padding-top: 30px;
}

.header{
    background-color: rgb(206, 203, 203);
    display: flex;
  }

.design {
    background-color:  rgb(206, 203, 203);
}
